<div class="error">
  <%= @cafe.errors.full_messages.first if @cafe.errors.any? %>
</div>

<%= form_for(cafe) do |f| %>
  <div class="form-field">
    <%= label_tag(:name, "Name:") %>
    <%= f.text_field :name %>
  </div>
  <div class="form-field">
    <%= f.submit "Save" %>
  </div>
<% end %>
