<h1><%= @cafe.name %></h1>

<ul>
  <% if @cafe.current_cats.count > 0 %>
    <li><p>Current cats:</p>
      <ul>
        <% @cafe.current_cats.each do |cat| %>
        <li><%= link_to cat.name, cat %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
  <li>Total number of cat visits: <%= @cafe.visits.count %></li>
  <% if @cafe.visited_cats.count > 0 %>
    <li><p>Number of visits per cat:</p>
      <ul>
        <% @cafe.visited_cats.each do |cat| %>
        <li><%= link_to cat.name, cat %>: <%= cat.visits_to_cafe(@cafe).count %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
