<h1><%= @cafe.name %></h1>

<ul>
  <% if @cafe.cafe_items.count > 0 %>
    <li>Items:
      <ul>
        <% @cafe.cafe_items.each do |cafe_item| %>
        <li>
          <%= cafe_item.item.name %>
          <% if cafe_item.current_cat %>
            <em>being used by</em>
            <%= link_to cafe_item.current_cat.name, cafe_item.current_cat %>
          <% end %>
          <%= link_to "Sell Item", [@cafe, cafe_item], method: :delete %>
        </li>
        <% end %>
      </ul>
    </li>
  <% else %>
    Buy items for this cafe to attract the nice cats!
  <% end %>
  <li>Number of cat visits today: <%= @cafe.cafe_visits.count %></li>
  <% if @cafe.visited_cats.count > 0 %>
    <li>Number of visits per cat:
      <ul>
        <% @cafe.visited_cats.each do |cat| %>
        <li><%= link_to cat.name, cat %>: <%= cat.visits_to_cafe(@cafe).count %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>

<%= button_to "Buy Items", new_cafe_cafe_item_path(@cafe), method: :get %>

<%= button_to "Edit Cafe", edit_cafe_path(@cafe), method: :get %>

<%= button_to "Delete Cafe", @cafe, method: :delete, :"data-confirm" => "Are you sure? This will allow the bank to irreversibly foreclose on #{@cafe.name} and all its visits." %>
