<h1><%= @cafe.name %></h1>

<ul>
  <% if @cafe.current_cats.count > 0 %>
    <li><p>Current cats:</p>
      <ul>
        <% @cafe.current_cats.each do |cat| %>
        <li><%= link_to cat.name, cat %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
  <% if @cafe.cafe_items.count > 0 %>
    <li><p>Items:</p>
      <ul>
        <% @cafe.cafe_items.each do |cafe_item| %>
        <li>
          <%= cafe_item.item.name %>
          <%= link_to "Remove", [@cafe, cafe_item], method: :delete %>
        </li>
        <% end %>
      </ul>
    </li>
  <% end %>
  <li>Total number of cat visits: <%= @cafe.visits.count %></li>
  <% if @cafe.visited_cats.count > 0 %>
    <li><p>Number of visits per cat:</p>
      <ul>
        <% @cafe.visited_cats.each do |cat| %>
        <li><%= link_to cat.name, cat %>: <%= cat.visits_to_cafe(@cafe).count %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>

<%= button_to "Add Items to Cafe", new_cafe_cafe_item_path(@cafe), method: :get %>

<%= button_to "Edit Cafe", edit_cafe_path(@cafe), method: :get %>

<%= button_to "Delete Cafe", @cafe, method: :delete, :"data-confirm" => "Are you sure? This will allow the bank to irreversibly foreclose on #{@cafe.name} and all its visits." %>
