<div class="error">
  <%= @cat.errors.full_messages.first if @cat.errors.any? %>
</div>

<%= form_for(cat) do |f| %>
  <div class="form-field">
    <%= label_tag(:name, "Name:") %>
    <%= f.text_field :name %>
  </div class="form-field">
  <div class="form-field">
    <%= label_tag(:age, "Age:") %>
    <%= f.number_field :age %>
  </div class="form-field">
  <div class="form-field">
    <%= label_tag(:gender, "Gender:") %>
    <%= f.radio_button(:gender, "f") %>
    <%= label_tag(:gender, "Female") %>
    <%= f.radio_button(:gender, "m") %>
    <%= label_tag(:gender, "Male") %>
  </div class="form-field">
  <div class="form-field">
    <%= label_tag(:breed, "Breed:") %>
    <%= f.text_field :breed %>
  </div class="form-field">
  <div class="form-field">
    <%= label_tag(:color, "Color:") %>
    <%= f.text_field :color %>
 </div class="form-field">
 <div class="form-field">
    <%= label_tag(:personality, "Personality:") %>
    <%= f.text_field :personality %>
  </div class="form-field">
  <div class="form-field">
    <%= f.submit "Save" %>
  </div class="form-field">
<% end %>
