<h1><%= @cat.name %></h1>

<ul>
  <li>Age: <%= @cat.age %></li>
  <li>Gender: <%= @cat.gender %></li>
  <li>Breed: <%= @cat.breed %></li>
  <li>Color: <%= @cat.color %></li>
  <li>Personality: <%= @cat.personality %></li>
  <% if @cat.current_cafe %>
    <li>Current cafe: <%= link_to @cat.current_cafe.name, @cat.current_cafe %></li>
  <% end %>
  <li>Total number of cafe visits: <%= @cat.visits.count %></li>
  <% if @cat.visits.count > 0 %>
    <li><p>Number of visits per cafe:</p>
      <ul>
        <% @cat.visited_cafes.each do |cafe| %>
        <li><%= link_to cafe.name, cafe %>: <%= @cat.visits_to_cafe(cafe).count %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>

<%= button_to "Edit Cat", edit_cat_path(@cat), method: :get %>

<%= button_to "Delete Cat", @cat, method: :delete, :"data-confirm" => "Are you sure? This will irreversibly delete this cat and all its visits." %>
